<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/game-card/game-card.html">
<link rel="import" href="pokemon-app.html">
<link rel="import" href="pokemon-caracteristicas.html">
<dom-module id="pokeapi-app">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <h2>Bienvenido a Pokemon</h2>
        <h2>Acontinuación los pokemones </h2>


        <iron-ajax
                url="https://pokeapi.co/api/v2/pokemon/"
                last-response="{{pokemon}}"
                auto

        >
        </iron-ajax>

        <iron-ajax
                url="https://pokeapi.co/api/v2/pokemon/1/"
                last-response="{{habilidades}}"

id="h"
        >
        </iron-ajax>

        <template is="dom-repeat" items="[[pokemon.results]]" id="app">
<span  style="border: 1px solid #000;" on-click="requesta" >


    <pokemon-app name="[[item.name]]" >
      </pokemon-app>




     <template is="dom-repeat" items="[[habilidades.abilities]]">

 <pokemon-caracteristicas habilidad="[[item.ability.name]]" slot="[[item.slot]]" >
      </pokemon-caracteristicas>
          </template>

</span>
        </template>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class PokeapiApp extends Polymer.Element {
            static get is() {
                return 'pokeapi-app';
            }

            static get properties() {
                return {
                    elementos: {
                        type: String,
                        value: 'Pokeapi-app'
                    }, desplegado: {
                        type: Boolean,
                        value: false

                    }
                };

            }

            toggle() {
                this.desplegado = !this.desplegado;
            }
            requesta(){
this.$.h.generateRequest();

            }

        }



        window.customElements.define(PokeapiApp.is, PokeapiApp);
    </script>
</dom-module>
