<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="pokemon-caracteristicas">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>








        <h4>[[habilidad]]</h4>
        <h4>[[slot]]</h4>



    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class PokemonCaracteristicas extends Polymer.Element {
            static get is() { return 'pokemon-caracteristicas'; }
            static get properties() {
                return {habilidad: {
                        type: String,
                        value: "pokemon"
                    },slot: {
                        type: String,
                        value: "pokemon"
                    },

                }

            };

            toggle(){
                this.desplegado= !this.desplegado;
            }
        }




        window.customElements.define(PokemonCaracteristicas.is, PokemonCaracteristicas);
    </script>
</dom-module>
