<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="pokemon-app">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>








    <h1>[[name]]</h1>



        </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class Pokemon extends Polymer.Element {
            static get is() { return 'pokemon-app'; }
            static get properties() {
                return {name: {
                        type: String,
                        value: "pokemon"
                    },

                    }

                };

            toggle(){
                this.desplegado= !this.desplegado;
            }
            }




        window.customElements.define(Pokemon.is, Pokemon);
    </script>
</dom-module>
